<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SSE_Fallout_4_Texture_Converter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <SSE_Fallout_4_Texture_Converter.Properties.Settings>
            <setting name="Warned" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScanTextureForFormat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackUpOrginalTexture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepGNFExtestion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableMipMaps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFullFilePath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogProcessOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogThreadOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseHalfThreadCount" serializeAs="String">
                <value>True</value>
            </setting>
        </SSE_Fallout_4_Texture_Converter.Properties.Settings>
    </userSettings>
</configuration>
